src/definitions/FileGroupParallelProcessing-step-fun-def.json
{
  "Comment": "FileGroupProcessing",
  "StartAt": "ProcessAllFiles",
  "States": {
    "ProcessAllFiles": {
      "Type": "Map",
      "InputPath": "$.fileGroup",
      "ItemsPath": "$.files",
      "MaxConcurrency": 0,
      "Iterator": {
        "StartAt": "Wait For File",
        "States": {
          "Wait For File": {
            "Type": "Task",
            "Resource": "arn:aws:states:us-west-2:471443061462:activity:FileArrivalListener",
            "Next": "Validate",
            "ResultPath": "$.srcFile"
          },
          "Validate": {
            "Type": "Task",
            "Resource": "arn:aws:states:us-west-2:471443061462:activity:ValidateFile",
            "Next": "Load",
            "ResultPath": "$.validateResult"
          },
          "Load": {
            "Type": "Task",
            "Resource": "arn:aws:states:us-west-2:471443061462:activity:LoadFile",
            "ResultPath": "$.loadResult",
            "End": true
          }
        }
      },
      "ResultPath": "$.resulst",
      "Next": "Evaluate Group"
    },
    "Evaluate Group": {
      "Type": "Pass",
      "Result": "Done",
      "End": true
    }
  }
}
